.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container {
    position: relative;
    width: calc(33.33% - 10px);
}

.gallery-image {
    display: block;
    width: min-content;
    height: fit-content;
    cursor: pointer;
}

.caption {
    position: relative;
    bottom: 0;
    left: 0;
    width: 90%;
    background-color: rgba(255, 221, 0, 0.872);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .caption {
    opacity: 1;
}

.lightbox {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 251, 0, 0.798);
    display: none;
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}

.lightbox-caption {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
